/* ==========Main Products========== */
.product-card {
    display: flex;
    border: var(--border);
    border-radius: 0.3rem;
    padding: 1.5rem 2rem 1.5rem 0.8rem;
    margin: 1rem 0;
}
.product-card__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 2rem;
}
.product-card__link {
    color: var(--black-color);
    font-size: var(--font-size-md);
    font-family: "iransans-bold";
    line-height: 2rem;
}
.product-card__right-bottom {
    font-size: var(--font-size-sm);
}
.product-card__condition {
    display: block;
}
.product-card__price {
    margin: .5rem 0;
    display: block;
}
.product-card__time {
    display: block;
}
.product-card__left {
    display: flex;
    align-items: flex-end;
}
.product-card__img {
    border-radius: 0.3rem;
    width: 136px ;
    height:136px ;
}
.product-card__icon {
    font-size: var(--font-size-md);
    padding-left: 1rem;
    display: flex;
    align-items: flex-end !important;
}
/* ==========End Main Products========== */