/* Fonts */

@font-face {
    font-family: "iransans-regular";
    src: url(../fonts/iran_sans/eot/IRANSansX-Regular.eot),
      url(../fonts/iran_sans/ttf/IRANSansX-Regular.ttf),
      url(../fonts/iran_sans/woff/IRANSansX-Regular.woff),
      url(../fonts/iran_sans/woff2/IRANSansX-Regular.woff2);
    font-weight: normal;
  }
  
  @font-face {
    font-family: "iransans-bold";
    src: url(../fonts/iran_sans/eot/IRANSansX-bold.eot),
      url(../fonts/iran_sans/ttf/IRANSansX-bold.ttf),
      url(../fonts/iran_sans/woff/IRANSansX-bold.woff),
      url(../fonts/iran_sans/woff2/IRANSansX-bold.woff2);
    font-weight: bold;
  }
  
  @font-face {
    font-family: "iransans-medium";
    src: url(../fonts/iran_sans/eot/IRANSansX-Medium.eot),
      url(../fonts/iran_sans/ttf/IRANSansX-Medium.ttf),
      url(../fonts/iran_sans/woff/IRANSansX-Medium.woff),
      url(../fonts/iran_sans/woff2/IRANSansX-Medium.woff2);
    font-weight: bold;
  }
  